.gallery-text{
    text-align: center;
    margin-top: 70px;
}

.gallery-text p{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 12px;
   
    
}

.gallery-text h2{
    font-weight: bolder;
    font-size: 25px;
}

.gallery-img{
    width: 250px;
    height: 250px;
}

.gallery-grid{
    width: 900px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-left: 130px ;
    margin-top: 50px;
    height: 550px;
}
   